@model MoviesOnDemand.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies Name</h2>
<ul>
    @foreach (var Movies in Model.Movies)
    {
       <li>@Movies.Name</li>
    }
</ul>

